body {
  font-family: sans-serif;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  height: 9em;
  background: white;
}

main {
  margin-top: 9em;
  position: relative;
  overflow: hidden;
  height: 100vh;
}

section {
  padding: 3em 1em 1em;
  width: 100%;
  height: 100vh;
  background: white;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s;
}
section:first-of-type {
  opacity: 1;
  transition: all 0.5s;
}
section:target {
  opacity: 1;
}

a[href^='https://'],
a[href^='http://'] {
  padding-left: 1.1em;
  background: url(img/logo_ext_link.svg) left/contain no-repeat;
}

a[href^='https://twitter.com'] {
  background-image: url(img/logo_twitter.svg);
}

a[href^='https://www.xing.com'] {
  background-image: url(img/logo_xing.svg);
}

a[href^='https://www.linkedin.com'] {
  background-image: url(img/logo_linkedin.svg);
}

a[href^='https://stackoverflow.com'] {
  background-image: url(img/logo_stackoverflow.svg);
}

a[href^='https://medium.com'] {
  background-image: url(img/logo_medium.svg);
}

a[href^='https://github.com'] {
  background-image: url(img/logo_github.svg);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}