body {
  font-family: sans-serif;
  max-width: 800px;
  min-width: 320px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  color: #222;
  font-size: 12pt;
}

header {
  color: #ddd;
  background: #222;
  width: 100%;
  border-radius: 0 0 5px 5px;
  float: left;
}

h1 {
  float: left;
  margin: 0;
}

section {
  clear: both;
  padding: 10px;
}

section:target {
  display: block;
  border-left: #222 solid;
  transition: border-left 0.1s;
  transition-timing-function: ease-in-out;
}

nav {
  float: right;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: block;
  width: 100px;
  color: #ddd;
}

nav ul li a:hover {
  background: #ddd;
  color: #222;
}

a[href^='https://'],
a[href^='http://'] {
  padding-left: 1.3em;
  background: url(img/logo_ext_link.svg) left/1em no-repeat;
}

a[href^='https://www.google.com/maps'],
a[href^='https://goo.gl/maps'],
a.address {
  background-image: url(img/logo_location.svg);
}

a[href^='https://twitter.com'] {
  background-image: url(img/logo_twitter.svg);
}

a[href^='https://www.xing.com'] {
  background-image: url(img/logo_xing.svg);
}

a[href^='https://www.linkedin.com'] {
  background-image: url(img/logo_linkedin.svg);
}

a[href^='https://stackoverflow.com'] {
  background-image: url(img/logo_stackoverflow.svg);
}

a[href^='https://medium.com'] {
  background-image: url(img/logo_medium.svg);
}

a[href^='https://github.com'] {
  background-image: url(img/logo_github.svg);
}